body {
    margin:0px;
    background-image:none;
    position:relative;
    left:-37px;
    width:723px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
  }
  .form_sketch {
    border-color:transparent;
    background-color:transparent;
  }
  #base {
    position:absolute;
    z-index:0;
  }
  #u0_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:455px;
    height:272px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
    color:#000000;
  }
  #u0 {
    border-width:0px;
    position:absolute;
    left:37px;
    top:64px;
    width:455px;
    height:272px;
    display:flex;
    font-size:20px;
    color:#000000;
  }
  #u0 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u0_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u1_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:137px;
    height:272px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
  }
  #u1 {
    border-width:0px;
    position:absolute;
    left:492px;
    top:64px;
    width:137px;
    height:272px;
    display:flex;
    font-size:20px;
  }
  #u1 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u1_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u2_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:131px;
    height:124px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
  }
  #u2 {
    border-width:0px;
    position:absolute;
    left:629px;
    top:170px;
    width:131px;
    height:124px;
    display:flex;
    font-size:20px;
  }
  #u2 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u2_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u3_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:131px;
    height:42px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
  }
  #u3 {
    border-width:0px;
    position:absolute;
    left:629px;
    top:294px;
    width:131px;
    height:42px;
    display:flex;
    font-size:20px;
  }
  #u3 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u3_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u4_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:40px;
    background:inherit;
    background-color:rgba(22, 155, 213, 1);
    border:none;
    border-radius:5px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u4 {
    border-width:0px;
    position:absolute;
    left:131px;
    top:368px;
    width:119px;
    height:40px;
    display:flex;
  }
  #u4 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u4_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u5_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:40px;
    background:inherit;
    background-color:rgba(22, 155, 213, 1);
    border:none;
    border-radius:5px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u5 {
    border-width:0px;
    position:absolute;
    left:367px;
    top:368px;
    width:119px;
    height:40px;
    display:flex;
  }
  #u5 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u5_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u6_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:40px;
    background:inherit;
    background-color:rgba(22, 155, 213, 1);
    border:none;
    border-radius:5px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u6 {
    border-width:0px;
    position:absolute;
    left:641px;
    top:368px;
    width:119px;
    height:40px;
    display:flex;
  }
  #u6 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u6_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u7_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:131px;
    height:106px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
  }
  #u7 {
    border-width:0px;
    position:absolute;
    left:629px;
    top:64px;
    width:131px;
    height:106px;
    display:flex;
    font-size:20px;
  }
  #u7 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u7_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u8_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:137px;
    height:106px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
  }
  #u8 {
    border-width:0px;
    position:absolute;
    left:492px;
    top:64px;
    width:137px;
    height:106px;
    display:flex;
    font-size:20px;
  }
  #u8 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u8_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u9_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:137px;
    height:106px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
  }
  #u9 {
    border-width:0px;
    position:absolute;
    left:492px;
    top:170px;
    width:137px;
    height:106px;
    display:flex;
    font-size:20px;
  }
  #u9 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u9_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  