body {
    margin:0px;
    background-image:none;
    position:relative;
    left:-138px;
    width:530px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
  }
  .form_sketch {
    border-color:transparent;
    background-color:transparent;
  }
  #base {
    position:absolute;
    z-index:0;
  }
  #u0_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:140px;
    height:40px;
    background:inherit;
    background-color:rgba(22, 155, 213, 1);
    border:none;
    border-radius:5px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
  }
  #u0 {
    border-width:0px;
    position:absolute;
    left:352px;
    top:438px;
    width:140px;
    height:40px;
    display:flex;
    font-size:20px;
  }
  #u0 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u0_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u1_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:530px;
    height:37px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight:700;
    font-style:normal;
  }
  #u1 {
    border-width:0px;
    position:absolute;
    left:138px;
    top:97px;
    width:530px;
    height:37px;
    display:flex;
    font-family:'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight:700;
    font-style:normal;
  }
  #u1 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u1_text {
    border-width:0px;
    white-space:nowrap;
    text-transform:none;
  }
  #u2_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:23px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
  }
  #u2 {
    border-width:0px;
    position:absolute;
    left:200px;
    top:232px;
    width:80px;
    height:23px;
    display:flex;
    font-size:20px;
  }
  #u2 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u2_text {
    border-width:0px;
    white-space:nowrap;
    text-transform:none;
  }
  #u3_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:23px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
  }
  #u3 {
    border-width:0px;
    position:absolute;
    left:200px;
    top:340px;
    width:60px;
    height:23px;
    display:flex;
    font-size:20px;
  }
  #u3 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u3_text {
    border-width:0px;
    white-space:nowrap;
    text-transform:none;
  }
  #u4_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:23px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
    text-align:center;
  }
  #u4 {
    border-width:0px;
    position:absolute;
    left:332px;
    top:536px;
    width:180px;
    height:23px;
    display:flex;
    font-size:20px;
    text-align:center;
  }
  #u4 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u4_text {
    border-width:0px;
    white-space:nowrap;
    text-transform:none;
  }
  #u6_input {
    position:absolute;
    left:0px;
    top:0px;
    width:300px;
    height:25px;
    padding:3px 2px 3px 2px;
    font-family:'Arial Normal', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:13px;
    text-decoration:none;
    letter-spacing:normal;
    color:#000000;
    vertical-align:none;
    text-align:left;
    text-transform:none;
    background-color:transparent;
    border-color:transparent;
  }
  #u6_input.disabled {
    position:absolute;
    left:0px;
    top:0px;
    width:300px;
    height:25px;
    padding:3px 2px 3px 2px;
    font-family:'Arial Normal', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:13px;
    text-decoration:none;
    letter-spacing:normal;
    color:#000000;
    vertical-align:none;
    text-align:left;
    text-transform:none;
    background-color:transparent;
    border-color:transparent;
  }
  #u6_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:300px;
    height:25px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u6 {
    border-width:0px;
    position:absolute;
    left:332px;
    top:232px;
    width:300px;
    height:25px;
    display:flex;
  }
  #u6 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u6_div.disabled {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:300px;
    height:25px;
    background:inherit;
    background-color:rgba(240, 240, 240, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u6.disabled {
      
  }
  #u7_input {
    position:absolute;
    left:0px;
    top:0px;
    width:300px;
    height:25px;
    padding:3px 2px 3px 2px;
    font-family:'Arial Normal', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:13px;
    text-decoration:none;
    letter-spacing:normal;
    color:#000000;
    vertical-align:none;
    text-align:left;
    text-transform:none;
    background-color:transparent;
    border-color:transparent;
  }
  #u7_input.disabled {
    position:absolute;
    left:0px;
    top:0px;
    width:300px;
    height:25px;
    padding:3px 2px 3px 2px;
    font-family:'Arial Normal', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:13px;
    text-decoration:none;
    letter-spacing:normal;
    color:#000000;
    vertical-align:none;
    text-align:left;
    text-transform:none;
    background-color:transparent;
    border-color:transparent;
  }
  #u7_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:300px;
    height:25px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u7 {
    border-width:0px;
    position:absolute;
    left:332px;
    top:339px;
    width:300px;
    height:25px;
    display:flex;
  }
  #u7 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u7_div.disabled {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:300px;
    height:25px;
    background:inherit;
    background-color:rgba(240, 240, 240, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u7.disabled {
  }
  