body {
    margin:0px;
    background-image:none;
    position:relative;
    left:-107px;
    width:497px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
  }
  .form_sketch {
    border-color:transparent;
    background-color:transparent;
  }
  #base {
    position:absolute;
    z-index:0;
  }
  #u0_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:486px;
    height:135px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u0 {
    border-width:0px;
    position:absolute;
    left:107px;
    top:251px;
    width:486px;
    height:135px;
    display:flex;
  }
  #u0 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u0_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u1_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:370px;
    height:37px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight:700;
    font-style:normal;
  }
  #u1 {
    border-width:0px;
    position:absolute;
    left:113px;
    top:89px;
    width:370px;
    height:37px;
    display:flex;
    font-family:'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight:700;
    font-style:normal;
  }
  #u1 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u1_text {
    border-width:0px;
    white-space:nowrap;
    text-transform:none;
  }
  #u2_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:23px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
  }
  #u2 {
    border-width:0px;
    position:absolute;
    left:493px;
    top:103px;
    width:100px;
    height:23px;
    display:flex;
    font-size:20px;
  }
  #u2 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u2_text {
    border-width:0px;
    white-space:nowrap;
    text-transform:none;
  }
  #u3_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:23px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
  }
  #u3 {
    border-width:0px;
    position:absolute;
    left:502px;
    top:139px;
    width:102px;
    height:23px;
    display:flex;
    font-size:20px;
  }
  #u3 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u3_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u4_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:23px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
  }
  #u4 {
    border-width:0px;
    position:absolute;
    left:120px;
    top:170px;
    width:100px;
    height:23px;
    display:flex;
    font-size:20px;
  }
  #u4 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u4_text {
    border-width:0px;
    white-space:nowrap;
    text-transform:none;
  }
  #u5_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:23px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
  }
  #u5 {
    border-width:0px;
    position:absolute;
    left:260px;
    top:170px;
    width:120px;
    height:23px;
    display:flex;
    font-size:20px;
  }
  #u5 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u5_text {
    border-width:0px;
    white-space:nowrap;
    text-transform:none;
  }
  #u6_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:161px;
    height:23px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
  }
  #u6 {
    border-width:0px;
    position:absolute;
    left:120px;
    top:279px;
    width:161px;
    height:23px;
    display:flex;
    font-size:20px;
  }
  #u6 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u6_text {
    border-width:0px;
    white-space:nowrap;
    text-transform:none;
  }
  #u7_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:68px;
    height:23px;
    background:inherit;
    background-color:rgba(22, 155, 213, 1);
    border:none;
    border-radius:5px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u7 {
    border-width:0px;
    position:absolute;
    left:345px;
    top:279px;
    width:68px;
    height:23px;
    display:flex;
  }
  #u7 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u7_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u8_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:172px;
    height:23px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
  }
  #u8 {
    border-width:0px;
    position:absolute;
    left:120px;
    top:313px;
    width:172px;
    height:23px;
    display:flex;
    font-size:20px;
  }
  #u8 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u8_text {
    border-width:0px;
    white-space:nowrap;
    text-transform:none;
  }
  #u9_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:68px;
    height:23px;
    background:inherit;
    background-color:rgba(22, 155, 213, 1);
    border:none;
    border-radius:5px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u9 {
    border-width:0px;
    position:absolute;
    left:345px;
    top:313px;
    width:68px;
    height:23px;
    display:flex;
  }
  #u9 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u9_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u10_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:140px;
    height:40px;
    background:inherit;
    background-color:rgba(22, 155, 213, 1);
    border:none;
    border-radius:5px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
  }
  #u10 {
    border-width:0px;
    position:absolute;
    left:266px;
    top:429px;
    width:140px;
    height:40px;
    display:flex;
    font-size:20px;
  }
  #u10 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u10_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  