body {
    margin:0px;
    background-image:none;
    position:relative;
    left:-37px;
    width:723px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
  }
  .form_sketch {
    border-color:transparent;
    background-color:transparent;
  }
  #base {
    position:absolute;
    z-index:0;
  }
  #u0_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:592px;
    height:272px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
    color:#000000;
  }
  #u0 {
    border-width:0px;
    position:absolute;
    left:37px;
    top:64px;
    width:592px;
    height:272px;
    display:flex;
    font-size:20px;
    color:#000000;
  }
  #u0 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u0_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u1_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:131px;
    height:272px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
  }
  #u1 {
    border-width:0px;
    position:absolute;
    left:629px;
    top:64px;
    width:131px;
    height:272px;
    display:flex;
    font-size:20px;
  }
  #u1 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u1_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u2_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:40px;
    background:inherit;
    background-color:rgba(22, 155, 213, 1);
    border:none;
    border-radius:5px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u2 {
    border-width:0px;
    position:absolute;
    left:279px;
    top:376px;
    width:119px;
    height:40px;
    display:flex;
  }
  #u2 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u2_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  